html, body, #root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  background-color: linen;
  color: rgba(153,153,153,1);
}

.App {
  font-family: sans-serif;
  text-align: center;
}
